<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scode</title>
    <style>
        html, 
        body {
            background: #26262b;
            text-align: center;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <body style="overflow-x: hidden"></body>
    <h1>Scode</h1>
    <h3>The place you can find small but strong pieces of code</h3>
    <br><br><br>
    <form action="\scodes" method="scodes" class="input-form">
        <input type="submit" value="게시" class="submit" style="WIDTH: 70pt; HEIGHT: 30pt;">
    </form>
</body>
</html>